<h3> Market By Order</h3>
<div class =  "col-md-6">
    <table class = "table table-hover" style = "">
        <thead>
        <tr>
            <th>Buy Volume</th>
            <th>Buy Price</th>
        </tr>
        </thead>
        <tbody>
        {{#each order in sortedBuyOrders}}
            <tr>
                <td>{{order.size}}</td>
                <td>{{order.price}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<div class =  "col-md-6">
    <table class = "table table-hover" style = "">
        <thead>
        <tr>
            <th>Sell Volume</th>
            <th>Sell Price</th>
        </tr>
        </thead>
        <tbody>
        {{#each order in sortedSellOrders}}
            <tr>
                <td>{{order.size}}</td>
                <td>{{order.price}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>