<div class =  "col-md-6">
    <h2> Market By Order :  </h2>
    <table class = "table table-hover" style = "">

        <thead>
        <tr>
            <th>Buy Volume</th>
            <th>Buy Price</th>
            <th>Sell Volume</th>
            <th>Sell Price</th>
        </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>
<div class = "col-md-6">
    <h2> Market By Price:  </h2>
    <table class = "table table-hover" style = "">

        <thead>
        <tr>
            <th>Buy Volume</th>
            <th>Buy Price</th>
            <th>Sell Volume</th>
            <th>Sell Price</th>
        </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>


