<div class="container">
    <h3>Company Name: {{model.name}}</h3>
</div>
<div class =  "col-md-6">
    <h3> Market By Order</h3>
    <table class = "table table-hover" style = "">

        <thead>
        <tr>
            <th>Buy Volume</th>
            <th>Buy Price</th>
            <th>Sell Volume</th>
            <th>Sell Price</th>
        </tr>
        </thead>

        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>
</div>

<div class = "col-md-6">
    <h3> Market By Price</h3>
    <table class = "table table-hover" style = "">

        <thead>
        <tr>
            <th>#</th>
            <th>Buy Volume</th>
            <th>Buy Price</th>
            <th>#</th>
            <th>Sell Volume</th>
            <th>Sell Price</th>
        </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>


