<h2>Place sell order for {{model.name}}:</h2>
<form class="form">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Price">
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">#</div>
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Shares">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" id = "placeOrder">Submit</button>
</form>